<div id="slideshow" class="slideshow">
    {{#foreach posts  from="0" to="2"}}
        {{#if image}}
            <div class="slide query" >
                <div class="bg-overlay" style="background-image:url({{image}})"></div>
                <blockquote>
                    <p>{{{title}}}</p>
                    <a class="view-details" href="{{url}}">
                      阅读详情 <svg style="margin-top:2px;" class="icon icon-fast-forward"><use xlink:href="#icon-fast-forward"></use></svg>
                    </a>
                </blockquote>
            </div>
        {{/if}}
    {{/foreach}}
</div>