{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
<header class="main-header tag-head">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag.name}}</h1>
            <div class="page-description">
                {{#if tag.description}}
                    <p>{{tag.description}}</p>
                {{/if}}
                <span class="total-count">  <svg style="margin-top:-2px;" class="icon icon-file-text"><use xlink:href="#icon-file-text"></use></svg> {{pagination.total}} 篇文章</span>
            </div>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main>
